awayDayPlanner/.vs/*
*.vsidx
*.cache
*.mdf
*.ldf
*.mdf
awayDayPlanner/awayDayPlanner/bin/Debug/Database/Database.mdf
*.ldf
*.exe
awayDayPlanner/awayDayPlanner/bin/Debug/Database/Database.mdf
awayDayPlanner/UnitTesting/bin/Debug/awayDayPlanner.exe
awayDayPlanner/UnitTesting/bin/Debug/awayDayPlanner.pdb
awayDayPlanner/UnitTesting/bin/Debug/UnitTesting.dll
awayDayPlanner/UnitTesting/bin/Debug/UnitTesting.pdb
awayDayPlanner/UnitTesting/obj/Debug/UnitTesting.dll
awayDayPlanner/UnitTesting/obj/Debug/UnitTesting.pdb
awayDayPlanner/UnitTesting/obj/Debug/UnitTesting.pdb
awayDayPlanner/UnitTesting/obj/Debug/UnitTesting.dll
awayDayPlanner/UnitTesting/bin/Debug/UnitTesting.pdb
awayDayPlanner/UnitTesting/bin/Debug/UnitTesting.dll
awayDayPlanner/awayDayPlanner/obj/Debug/awayDayPlanner.csproj.GenerateResource.cache
awayDayPlanner/awayDayPlanner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
awayDayPlanner/awayDayPlanner/bin/Debug/Database/Database.mdf
awayDayPlanner/awayDayPlanner/bin/Debug/screenshot.png
